# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# electron-builder
dist/
build/
vendor/tesseract/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~
